<!-- <div class="container mt-3 py-5"> -->
<h2><%- title %></h2>
<div class="container mt-3 py-5">
    <h2 class="mx-2"><%- title %></h2>
    <div class="row mt-4 d-flex justify-content-between">
        <% blogs.reverse() %> <% blogs.forEach(blog=>{ %>
        <div class="card mt-3 my-5 mx-2" style="width: 20rem">
            <div class="card-body d-flex align-items-start flex-column">
                <div class="mb-auto p-2">
                    <h6 class="text-muted">Author: <%= blog.name %></h6>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text">
                        <%= blog.content.slice(0,99) %> ....
                        <a href="/blog/<%= blog._id %>">Read more</a>
                    </p>
                </div>
                <div class="">
                    <p class="text-muted">
                        Published at:
                        <b> <%= blog.createdAt.toLocaleString() %> </b>
                    </p>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary"
                        >Read more...</a
                    >
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<!--? Codul bun 👇 -->
<div class="row mt-4 d-flex justify-content-start">
    <% blogs.reverse() %> <% blogs.forEach(blog=>{ %>
    <div class="card mt-3 my-5 mx-3" style="width: 20rem">
        <div class="card-body d-flex align-items-start flex-column">
            <div class="mb-auto p-2">
                <h6 class="text-muted">Author: <%= blog.name %></h6>
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text">
                    <%= blog.content.slice(0,99) %> ....
                    <a href="/blog/<%= blog._id %>">Read more</a>
                </p>
            </div>
            <div class="">
                <p class="text-muted">
                    Published at:
                    <b> <%= blog.createdAt.toLocaleString() %> </b>
                </p>
                <a href="/blog/<%= blog._id %>" class="btn btn-primary"
                    >Read more...</a
                >
            </div>
        </div>
    </div>
    <% }) %>
</div>
