<% if(blog != null){%>

<div class="container mt-3 py-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%- blog.title %>
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            <figure>
                <img
                    src="
                    /uploads/<%= blog.image %>"
                    alt="<%= blog.title %> "
                    title="<%= blog.title %>"
                    loading="lazy"
                    style="top: 20px"
                    class="img-fluid"
                />
                <figcaption>
                    <p class="text-muted">
                        Published at: <%= blog.createdAt.toLocaleString() %>
                    </p>
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="cl-12">
                    <h1><%- blog.title %></h1>
                </div>
                <p class="text-muted">Author: <%= blog.name %></p>
                <div class="col-12 mb-4">
                    <i class="bi bi-tag"></i><%- blog.image.split(".")[0] %>
                </div>
                <h4>Article Description</h4>
                <div class="col-12" style="white-space: pre-line">
                    <%- blog.content %>
                </div>
            </div>
        </div>
    </div>
    <a href="/delete/<%=blog._id%>" class="btn btn-danger">Delete</a>
    <a href="/edit/<%=blog._id%>" class="btn btn-warning">Edit</a>
</div>
<% } %>
